<template>
  <div class="about">
  <v-container class="my-5">
    <v-card    :loading="loading"
    class="mx-auto my-12"
    max-width="400" >
      <img
        src="../../public/img/profile.png"
        alt="krich"
        width="400"
      />

    <v-card-text>
    <v-card-title center>Krich Ayyoub</v-card-title>
    <v-card-subtitle>Sooftware Engineer</v-card-subtitle>
    <div>
    <div class="mailito">
    <v-icon>
     mdi-email
    </v-icon>
    ayyoub.krich@gmail.com
    </div>
    <div>
    </div>
   <v-icon>
    mdi-linkedin-box
    </v-icon>
    <a href="https://www.linkedin.com/in/ayyoubkrich/">Krich's Linkedin</a>
    </div>
    <div>
    <v-icon>
    mdi-github-circle
    </v-icon>
    <a href="https://github.com/KrichAyyoub">Krich's Github</a>
    </div>
    </v-card-text>
  </v-card>
  </v-container>
  </div>
</template>
