<template>
<v-footer app flat>
      <v-row
      justify="center"
      no-gutters
    >
      <v-btn
        to="/"
        text
        rounded
        class="my-2"
      >
      HOME
      </v-btn>
      <v-btn
        to="about"
        text
        rounded
        class="my-2"
      >
      About
      </v-btn>
    <v-col
      class="text-center"
      cols="12"
    >
      {{ new Date().getFullYear() }} — <strong>Krich's WebSite</strong>
    </v-col>
    </v-row>
</v-footer>

</template>
<script>
export default {
};
</script>
