<template>
<nav>
    <v-app-bar clipped-left app flat>
    <v-toolbar-title>Krich's WebSite</v-toolbar-title>
    <v-divider
      class="mx-4"
      inset
      vertical
    ></v-divider>

    <v-switch
        v-model="$vuetify.theme.dark"
        hide-details
        inset
    ></v-switch>

    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn to="/" text>
        Home
      </v-btn>

      <v-divider
        inset
        vertical
      ></v-divider>

      <v-btn to="about" text>
        About Me
      </v-btn>

      <v-divider
        inset
        vertical
      ></v-divider>

    </v-toolbar-items>
    </v-app-bar>
  </nav>
</template>

<script>
export default {


};
</script>
