<template>
  <v-navigation-drawer clipped app
        v-model="drawer"
        :expand-on-hover="expandOnHover"
        :mini-variant="miniVariant"
        :src="bg"
        width="189"
      >
        <v-list
          dense
          nav
          class="py-0"
        >
          <v-divider></v-divider>

          <v-list-item
            v-for="item in items"
            :key="item.title"
            link
            router :to="item.router"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content >
              <v-list-item-title >{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
</template>
<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        { title: 'HOME', icon: 'mdi-home', router: '/' },
        { title: 'ABOUT', icon: 'mdi-information', router: 'about' },
      ],
      color: 'primary',
      colors: [
        'primary',
        'black',
        'success',
        'red',
        'teal',
      ],
      right: true,
      miniVariant: false,
      expandOnHover: false,
      background: false,
    };
  },
};
</script>
