<template>
<v-app>
    <Navbar>
    </Navbar>
    <Drawer>
    </Drawer>
    <v-content>
    <router-view></router-view>
    </v-content>
  <Footer></Footer>
</v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '@/components/NavBar.vue';
import Footer from '@/components/Footer.vue';
import Drawer from '@/components/NavDrawer.vue';

export default Vue.extend({
  name: 'App',
  components: { Navbar, Footer, Drawer },

  data: () => ({
    //
  }),
});
</script>
